<%= stylesheet_link_tag "inbox" %>
<div class="row">
	<div class="twelve columns">
		<div class="row">
			<section class= 'sideNav two columns push-one' >
				<nav id="sidebar-nav-holder" class="vertical-nav fixed" gumby-fixed="40" gumby-top="40" >
					<ul id="sidebar-nav">
							<a>
								<li class="active text-center sideText"><%= link_to "Home", home_path%></li>
							</a> 
							<li class="active text-center sideText"><%= link_to "Trips", trip_path%></li>
							<li class="active text-center sideText"><%= link_to "New Trip", trip_new_path%></li>
							<li class="active text-center sideText"><%= link_to "Log Out", logout_path%></li>


					</ul>
				</nav>
			</section>



			<div class="eight columns">
			<div class="text-center">
				<h1>Messages</h1>
			</div>
				<div class="row">
					<div class="twelve columns">
						<% @user.mailbox.conversations.each do |msg| %>
						<ul>
							<li class="convoBox">
							<h3><%= msg.subject %></h3>
							<%= msg.inspect %>

							<p>Date: <%= msg.created_at %></p>
						
						<%= link_to("View Conversation", :controller => :conversations, :action => :show, :id => msg.id) %>
						<br>
						<%= link_to 'Delete Conversation', 
						      { :controller => :conversations, :action => :destroy, :id => msg}, 
						      { :confirm => 'Are you sure?', :method => :delete} %>
						</ul>
							</li>
						<% end %>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>


