<%= stylesheet_link_tag "access" %>
<div class="row">
	<div class="twelve columns">
		<div class="row">
			<section class= 'sideNav two columns push-one' >
				<nav id="sidebar-nav-holder" class="vertical-nav fixed" gumby-fixed="40" gumby-top="40" >
					<ul id="sidebar-nav">

								<a>
								<li class="active text-center sideText"><%= link_to "Logo", index_path%></li>
							</a>  
							<a>
								<li class="active text-center sideText"><%= link_to "Home", home_path%></li>
							</a> 
							<a>	
								<li class="active text-center sideText"><%= link_to "Trips", trip_path%></li>
							</a>
							<a>
								<li class="active text-center sideText"><%= link_to "New Trip", trip_new_path%></li>
							</a>
							<a>
								<li class="active text-center sideText"><%= link_to "Inbox", messages_path%></li>
							</a>
							<a>
								<li class="active text-center sideText"><%= link_to "Log Out", logout_path%></li>
							</a>


					</ul>
				</nav>
			</section>



			<div class="eight columns">
				<div class="text-center">
					<h1></h1>
				</div>
				<div class="row">
							<%= @sender.username %>
							<% @receipts.each do |receipt| %>
								<ul>
									Subject: <%= receipt.message.subject %>
									<br>
									Date: <%= receipt.message.created_at %> 
									<br>
									Body: <%= receipt.message.body %>
								</ul>
								 <%end  %>
					</div>	
					<div class="row">
						<%= form_for(@receipt, url: messages_edit_path) do |f|%>
							<ul class="field">
							  <%= f.label(:subject, "Subject") %>
							  <%= f.text_field(:subject,  class: "input") %>
							</ul>
							<ul class="field">
							  <%= f.label(:Body, "Body") %>
							  <%= f.text_field(:Body,  class: "input") %>
							</ul>
							
							<ul class="field">

							<%= f.submit("Edit", class: "large default btn") %>
							<% end %>
							</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>