<div class="row navbar pretty"  gumby-fixed="top" id="nav1">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
  <h1 class="ten columns logo">
    <%= link_to "Logo", index_path%>
  </h1>
  <ul class="two columns">
    <li><%= link_to "Logout", logout_path %></li>
</div>

<!-- ---------------------- -->

<div class="row">
	<div class="centered ten columns">
		<% flash.each do |key, value| %>
		  <% if key == "notice" %>
		    <%= content_tag :div, value, class: "text-center secondary alert"%>
		  <% elsif key == "alert" %>
		    <%= content_tag :div, value, class: "text-center danger alert" %>
		  <% else %>
		    <%= content_tag :div, value, class: "text-center success alert" %>
		  <% end %>
		<% end %>
	</div>
</div>


<!-- ----------------------- -->