<%= stylesheet_link_tag "home" %>
<div class="row">
	<div class="twelve columns">
		<div class="row">
			<section class= 'sideNav two columns push-one' >
				<nav id="sidebar-nav-holder" class="vertical-nav fixed" gumby-fixed="40" gumby-top="40" >
					<ul id="sidebar-nav">

							<li class="active text-center sideText"><%= link_to "Logo", index_path%></li>  
							<li class="active text-center sideText"><%= link_to "Trips", trip_path%></li>
							<li class="active text-center sideText"><%= link_to "New Trip", trip_new_path%></li>
							<li class="active text-center sideText"><%= link_to "Inbox", messages_path%></li>
							<li class="active text-center sideText"><%= link_to "Log Out", logout_path%></li>


					</ul>
				</nav>
			</section>



			<div class="eight columns">
			<div class="text-center">
				<h1>Home page</h1>
			</div>
				<% flash.each do |key, value| %>
				  <% if key == "notice" %>
				    <%= content_tag :div, value, class: "text-center secondary alert"%>
				  <% elsif key == "alert" %>
				    <%= content_tag :div, value, class: "text-center danger alert" %>
				  <% else %>
				    <%= content_tag :div, value, class: "text-center success alert" %>
				  <% end %>
				<% end %>
				<div class="row">
					<div class="twelve columns">
						<h3><%= @user.username %>'s trips:</h3>
							<% @user.trips.each do |trip| %>
							<ul >
								<li class="convoBox">

									From: <%= trip.departure %>
									<br>
									Destination: <%= trip.destination %>
									<br>
									Start Date: <%= trip.startDate %>
									<br>
									End Date: <%= trip.endDate %>
									<br>
									Seats: <%= trip.seats %>
									<br>
									<%= link_to("Details" , {:controller => :trip, :action => :show, :id => trip.id}, class: "detail" ) %> l
									<%= link_to("Update", {:controller => :trip, :action => :edit, :id => trip.id}, class: "detail") %> l									<%= link_to 'Delete', 
						      { :controller => 'trip', :action => 'destroy', :id => trip.id, 
						       :confirm => 'Are you sure?', :method => :delete}, class: "detail" %>
				      	</li>
							</ul>

							<% end %>
							</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

