<%= stylesheet_link_tag "access" %>

<div class="row">
	<div class="twelve columns">
		<div class="row">
			<section class= 'sideNav two columns push-one' >
				<nav id="sidebar-nav-holder" class="vertical-nav fixed" gumby-fixed="40" gumby-top="40" >
					<ul id="sidebar-nav">

							<li class="active text-center sideText"><%= link_to "Logo", index_path%></li>  

							<li class="active text-center sideText"><%= link_to "Home", home_path%></li>

					</ul>
				</nav>
			</section>


				<div class="six columns push-three text-centered">
					<h1>Sign Up</h1>
						
						<% flash.each do |key, value| %>
						  <% if key == "notice" %>
						  <%= content_tag :div, value, class: "text-center secondary alert"%>
						  <% elsif key == "alert" %>
						    <%= content_tag :div, value, class: "text-center danger alert" %>
						  <% else %>
						    <%= content_tag :div, value, class: "text-center success alert" %>
						  <% end %>
						<% end %>

					<% if @user.errors.any? %>
					  <% @user.errors.full_messages.each do |error| %>
					    <p class = "text-danger"><%= error %></p>
					  <% end %>
					<% end %>


					<%= form_for(@user, url: signup_path) do |f|%>

					<ul class="field">
					  <%= f.label(:username) %>
					  <%= f.text_field(:username, autofocus: true, class: "input") %>
					</ul>
					<ul class="field">
					  <%= f.label(:password) %>
					  <%= f.password_field(:password, class: "input") %>
					</ul>
					<p>
					  <%= f.submit("Sign Up", class: "large default btn") %>
					</p>
					  <%= link_to "Have an account already? Log in here", login_path %>
					<% end %>
				</div>
			</div>
	</div>
</div>