<%= stylesheet_link_tag "home" %>
<div class="row">
	<div class="twelve columns">
		<div class="row">
			<section class= 'sideNav two columns push-one' >
				<nav id="sidebar-nav-holder" class="vertical-nav fixed" gumby-fixed="60" gumby-top="60" >
					<ul id="sidebar-nav">

							<a>
								<li class="active text-center sideText"><%= link_to "Logo", index_path%></li>
							</a>  
							<a>
								<li class="active text-center sideText"><%= link_to "Home", home_path%></li>
							</a>
							<a>	
								<li class="active text-center sideText"><%= link_to "Trips", trip_path%></li>
							</a>
							<a>
								<li class="active text-center sideText"><%= link_to "New Trip", trip_new_path%></li>
							</a>
							<a>
								<li class="active text-center sideText"><%= link_to "Log Out", logout_path%></li>
							</a>

					</ul>
				</nav>
			</section>

			<div class="seven columns pull-one">

				<div class="row">
					<div class="text-center">
						<h1>Trip</h1>
					</div>
					<div class="seven columns">
							<%= form_for(@trip, url: trip_edit_path) do |f|%>
									<ul class = "field">
									  <%= f.label(:departure, "From") %>
									  <%= f.text_field(:departure, autofocus: true, class: "input") %>
									</ul>

									<ul class="field">
									  <%= f.label(:destination, "To") %>
									  <%= f.text_field(:destination,  class: "input") %>
									</ul>
									<ul class="field">
									  <%= f.label(:startDate, "Start Date") %>
									  <%= f.text_field(:startDate,  class: "input") %>
									</ul>
									<ul class="field">
									  <%= f.label(:endDate, "End Date") %>
									  <%= f.text_field(:endDate,  class: "input") %>
									</ul>
									<ul class="field">
									  <%= f.label(:seats, "Seats") %>
									  <%= f.text_field(:seats,  class: "input") %>
									</ul>
									
									<p>
									<%= f.submit("Edit a trip!", class: "large default btn") %>
									</p>
									<% end %>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>