<%= stylesheet_link_tag "home" %>
<div class="row">
	<div class="twelve columns">
		<div class="row">
			<section class= 'sideNav two columns push-one' >
				<nav id="sidebar-nav-holder" class="vertical-nav fixed" gumby-fixed="60" gumby-top="60" >
					<ul id="sidebar-nav">

							<li class="active text-center sideText"><%= link_to "Logo", index_path%></li>  
							<li class="active text-center sideText"><%= link_to "Home", home_path%></li>
							<li class="active text-center sideText"><%= link_to "Trips", trip_path%></li>
							<li class="active text-center sideText"><%= link_to "New Trip", trip_new_path%></li>
							<li class="active text-center sideText"><%= link_to "Log Out", logout_path%></li>

					</ul>
				</nav>
			</section>

			<div class="seven columns pull-one">

				<div class="row">
					<div class="text-center">
						<h2><%= @trip.departure %> to <%= @trip.destination %></h2>
					</div>
					<div class="seven columns">
							<ul >
								<iframe
								  width="600"
								  height="450"
								  frameborder="0" style="border:0"
								  src=<%=@url  %>>
								</iframe>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>